extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p Help is an app that allows you to make emergency information available to whoever may need it. The app can display emergency contacts, phone numbers, and any allergies you might have.
        p Currently, the app requires you to enter a name for the person you need to help, but we are implementing biometric authentication, as well as face recognition in the near future.

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Get Started!
