extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 Contact Us
        p If you have any questions or concerns about the service and how it works, please don't hesitate to reach out to us. We're always here to help! 
        a.btn.btn-info-outline.btn-lg.m-t-1(href='mailto:andrewpolcaster@gmail.com') Get in touch


