extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Welcome to Help!
    p.lead Who needs help today?
    form#welcome-form.form-group(action='/', method='post')
      input#welcome-input.input-group.form-control(type='text', value='', name='name' placeholder='Please enter a name.')
      button#welcome-btn.btn.btn-info(type='submit') Submit
  